#mc_embed_signup {
  clear:center; 
  font-family: Avenir, 'Nunito', Helvetica,Arial,sans-serif; 
}

body {
  text-align: center;
  background-color: rgba(252, 252, 252, 1);
  background-size: cover;
  background-position: center;
  color: black;
  font-family: Avenir, 'Nunito', Helvetica, Arial, sans-serif;
}

#header {
  float: right;
  width: 50%;
  margin-top: -10px;
  margin-right: 10%;
  margin-left: 5px;
  font-size: 2em;
  /*background-color: red;*/
}

#hero {
  /*background-color: red;*/
  clear: both;
  padding-top: 60px;
}

p#subtitle {
  font-size: 24px;
  font-weight: normal;
}

img.icon {
  margin-top: 20px;
  max-height: 30%;
  max-width: 30%;
  display: inline;
  float: left;
  margin-left: 10%;
  margin-right: -10px;
}

h1 {
  font-size: 48px;
  font-weight: lighter;
}

label {
  margin-right: 6px;
  font-size: 18px;
}

input {
  border: 0;
  padding: 10px;

  margin-left: 0 auto;
  margin-right: 0 auto;
  font-size: 18px;

  -webkit-appearance: none;
  color: white;
  border-radius: 6px;
  font-family: Avenir, 'Nunito', Helvetica, Arial;
}

input[type="submit"] {
  background-color: rgba(152, 232, 86, 1);
  color: black;
}

input[type="email"] {
  width: 200px;
  background-color: rgb(235, 235, 235);
  color: black;
  text-align: center;
}